*{
margin:0;
padding:0;
box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
header{
  background-color: #FFF8F3;
  padding-top:50px;
  background-image: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
  background-position: top left,bottom right;
  background-repeat: no-repeat;

}
nav{
  width:74%;
  max-width: 1140px;
display: flex;
justify-content: space-between;
  margin:0 auto;
  align-items: center;

}
.logo h2{
font-size: 45px;
font-weight: 900;
}
.color-orange{
  color: #FD6E0A;
}
.menu{
  display: flex;
  list-style: none;
  gap:51px;
  align-items: center;
}
nav .menu a{
  font-size: 20px;
  color:#474747;
  text-decoration: none;
}
.text-center{
  text-align: center;
}
.btn{
  background-color: #FD6E0A;
  border:none;
  border-radius: 5px;
  padding:18px 35px;
  color:#fff;
  font-size: 20px;
font-weight:900;
  }
  #banner{
    display: flex;
    justify-content: space-between;
    margin: 47px 38px 0 230px;
    align-items: center;
    /* border:2px solid#000; */
    /* margin:47px 38px 0 230px;
    display: flex;
   align-items: center;
   justify-content: space-between; */

  }
   #banner .banner-content {
max-width:585px;
   }

  #banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color:#474747;
    margin-bottom: 5px;
  }
   #banner .banner-content h1{
    font-size: 85px;
    font-weight: 600;
    color:#181818;
    margin-bottom: 5px;
   }
   #banner .banner-content p{
    color:#757575;
    margin-bottom:30px;
    font-size: 18px;
    line-height: 30px;

   }
    #banner .banner-img{
      max-width: 584px; 
      vertical-align: middle;
    }
    #about,#skills,#resume{
      padding-top:130px;
    }
    #about .about-container{
      max-width: 1140px;
      margin:0 auto;
      text-align: center;
      background-color:#FFF8F3 ;
      padding: 131px 156px;

    }
    .section-heading{
      max-width:827px ;
      text-align:center;
      margin: 0 auto;
    }
    .section-heading h2{
      font-size: 35px;
      margin-bottom: 30px;
    }
      .section-heading p{
      font-size: 18px;
      margin-bottom: 30px;
      color:#757575;
      line-height: 30px;
    }
    #about .about-container .about-info{
      display: flex;
      justify-content: space-around;
      text-align: center;
    }
   .about-info .info-card p{
    line-height: 30px;
    font-size: 20px;
    color: #757575;
   }
    .about-info .info-card h4{
    line-height: 30px;
    font-size: 20px;
    color: #474747;
    font-weight: 900;
   
   }
  
   #skills .skills-container{
  max-width: 1140px;
  margin:0 auto;
   }

   #skills .skills-container .skill-box{
    display: flex;
    gap:23px;
   }
   .skill-box .skill-card{
    border-radius: 5px;
    padding:30px;
    max-width: 266px;
    text-align: left;
    box-shadow: 0 6px 50px 0 #00000011;

   }
      .skill-box .skill-card img{
        width: 43px;
        text-align: left;
        margin-bottom: 30px;
      }
      .skill-box .skill-card h3{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
        color:#181818;
      }
      .skill-box .skill-card p{
        font-size: 16px;
        line-height: 28px;
        color: #757575;
      }
     #resume .resume-container{
      max-width: 1140px;
      margin:113px auto;
      display: flex;
      gap: 24px;
     }
      #resume .resume-container hr{
        margin:30px 0;
      }
     .resume-container .section-title{
      color:#474747;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 30px;
     }
     .resume-card{
      max-width: 511px;
      margin-right: 71px;
     }
      .resume-card .card-title{
        font-size: 25px;
         font-weight: bold;
      margin-bottom: 10px;
      color:#474747;
      }
  .resume-card .card-info{
        font-size: 20px;
         font-weight: 600;
      margin-bottom: 20px;
      color:#757575;
      }
     .resume-card .card-text{
        font-size: 16px;
         line-height: 28px;
      margin-bottom: 20px;
      color:#757575;
      }
    